{% load static %}


<style type="text/css">
html,body,.parent{height: 100%; overflow: hidden;}
        .top{position: absolute; top: 0; left: 0; right: 0; height: 0; background-color: #F3F3FA; height: 50px;}
        .left{position: absolute; top: 50px; left: 0;bottom: 50px; width: 75%; background-color: #E0E0E0;overflow:auto;}
        .right{position: absolute; top: 50px; left: 75%; right: 0; bottom: 50px; background-color: #FFFFCE; overflow: hidden;}
        .bottom{position: absolute; left: 0; right: 0; bottom: 0; height: 50px; background-color: #F3F3FA;}
</style>
<div class="parent">
    <div class="top">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
        <p>【TaskSteper】积跬步，至千里</p>
    </div>
    <div class="left">
        <form action="{% url 'polls:flowuserinfo' %}" method="post">
        <table>
            {% csrf_token %}
            {% for field in altepswdform %}
                <!--<div class="fieldWrapper">-->
                    <tr>
                        <td>{{ field.label_tag }}</td><td> {{ field }}</td>
                            {% if field.help_text %}
                               <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                    </tr>
                <!--</div>-->
            {% endfor %}
        </table>
            <input type="submit" value="修改密码" name='trigger'/>
        </form>
    </div>
    <div class="right">
        【帮助信息】:如果计划使用某个项目，请先在该项目注册，然后联系项目管理员添加权限；</br>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp如果项目归属于项目群，则只需要在项目群中的一个项目中注册，使用具体项目时联系管理员开通权限，
            无需在项目群的每个项目注册(暂时不支持项目群功能,等后续实现)</br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp更多信息请参考:<a href="{% url 'polls:down_help_doc' %}">帮助文档</a></br>
    </div>
    <div class="bottom">bottom</div>
</div>
