<form action="{% url 'polls:flowdetail' prj_name model_id %}" method="post" enctype=”multipart/form-data”>
<p>【当前项目】{{ PrjNameZh }}【ID】Item_{{ model_id }}</p>

<table>
    {% csrf_token %}
    {% for field in form %}
        <!--<div class="fieldWrapper">-->
        <tr>
            <td>【{{ field.label_tag }}】</td>
            <td> {{ field }}</td>
        </tr>
        {% if field.help_text %}
        <tr><td></td><td>{{ field.help_text }}</td></tr>
        {% endif %}
        <!--</div>-->
    {% endfor %}
</table>
{% if trigger %}
    {% for elmt in trigger %}
        <input type="submit" value={{elmt}} name='trigger' />
    {% endfor %}
{% endif %}
</form>
<li><a href="{% url 'polls:flowhome' %}">返回首页</a></li>
<li><a href="{% url 'polls:flowprjhome' prj_name %}">返回项目首页</a></li>

