<p>【TaskSteper】积跬步，至千里</p>
{% if username %}
    <table>
        <tr><td>Hello, {{ username }}</td><td>【<a href="{% url 'polls:flowlogout' %}">注销</a>】</td></tr>
    </table>
    {% if latest_namemodel_list %}
      <form action="{% url 'polls:flow_muti_item_process' prj_name %}" method="post">
        <table>
        {% csrf_token %}
        <tr>
            <td>选中</td>
            <td align="center">ID</td><td>概要</td><td>当前状态</td><td>当前处理人</td><td>报告人</td>
        </tr>
        {% for namemodel in latest_namemodel_list %}
            <tr>
                <td><input type="checkbox" value={{ namemodel.id }} name="check_box_list"/></td>
                <td><a href="{% url 'polls:flowdetail' prj_name namemodel.id %}">Item_{{ namemodel.id }}</a></td>
                <td>{{ namemodel.summary }}</td>
                <td>{{ namemodel.curent_state }}</td>
                <td>{{ namemodel.assigned_to }}</td>
                <td>{{ namemodel.created_by }}</td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="删除">
      </form>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
{% else %}
    <p>请先返回首页,使用您的账号登录系统</p>
{% endif %}
<li><a href="{% url 'polls:flowhome' %}">返回首页</a></li>
